@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
html,body{
    margin: 0;

}
body{
    background-color: rgb(32, 32, 32);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.container-cora{
    display: inline;
    /* margin-left: 30px; */
        content: '\2665';
        color: rgb(57, 106, 197);
        text-shadow: 0px 0px 5px,
        0px 0px 10px,
        0px 0px 15px ;
        font-size: 2rem;
        animation: animaCora 3s infinite alternate ease-in-out;
        transition: transform .3s;
}
.container-cora--left{
    position: absolute;
    z-index: 200;
    opacity: 0;
    top: 0;
    left: 0;
}
.container-cora--rigth{
    z-index: 200;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
}

@keyframes animaCora{

    25%{
        
        color: rgb(255, 0, 0);
        /* transform: rotate(3deg); */
    }
    50%{
        
        color: rgb(140, 0, 255);
    }
    75%{
        color: rgb(0, 174, 255);
        /* transform: scale(1.1); */
    }

}

.container-pregunta > *{
    font-family: 'Dancing Script', cursive;
    
    vertical-align: middle;
}
.container-pregunta{
    /* text-align: center; */
    display: flex;
   justify-content: center;
   align-items: center;
   /* flex-wrap: wrap; */
}
.container-pregunta > span{
    /* text-align: ; */
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    color:white;
    letter-spacing: 3px;
    width: 0px;
    padding-left: 4px;
    position: relative;

    display: inline-block;
    vertical-align: middle;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
   
}
.container-pregunta > span::before{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 3px;
    height: 100%;
    background-color: rgb(223, 223, 223);
    animation: desapacere .3s alternate infinite ease-in-out;
}
.animate-pregunta{
    animation: final 1.5s 1 alternate forwards  linear ;
}
@keyframes desapacere {
    to{
        opacity: .3;
        transform: scaleY(.5);
        /* animation-delay: 3s; */
    }
    
}

@keyframes final{
    to{
        /* width: calc(465.996px + 4px); */
        width: 100%;
        
    }
}


button > * {
    /* background-color: red; */
    vertical-align: middle;
    /* vertical-align: middle; */
    /* justify-content: center; */
    /* align-items: center; */
}

/* Mensajes */
.mensaje{
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
    /* background-color: red; */
}
.mensaje--left{
    top: 0px;
    left: 0px;
}
.mensaje--rigth{
    top: 0px;
    right: 0px;
}

.btn{
    text-align: center;
    overflow: hidden;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    cursor: pointer;
    transition: all .1s;
}
#btnSi{
    background-color: rgb(57, 106, 197);
}
#btnNo{
    background-color: rgb(40, 151, 95);
}
/* #btnSi > span{
    display: inline-block;
    transition: all .3s;
} */
/* #btnSi:active >span {
    opacity: 0;
    transform: scale(1.3);
} */

.btn .btnActive{

    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    transform: translateX(30px);
    transition: all .3s;
}
.btn:hover .btnActive{
    /* display: inline-block; */
    opacity: 1;
    transform: translateX(0px) scale(1.1);
    /* text-shadow: 0px 0px 3px rgb(0, 204, 255); */
}
#btnSi:hover{
    box-shadow: 2px 5px 3px rgb(127 127 127);
}



/* Modales */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /* background-color: rgba(52, 53, 53, 0.589); */
    /* backdrop-filter: blur(10px); */
    width: 100vw;
    height: 100vh;
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;
    transition: all .3s;
    opacity: 0;;
}
.modal--show{
    transform: scale(1);
    opacity: 1;
}
.modal__title{
    color: white;
    font-size: 2em;
    color: rgb(4, 71, 194);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 10px;
    font-family: 'Dancing Script', cursive;
    animation: animaCora 3s infinite;
}

@media screen and  (max-width: 768px){
    .container-cora{
        font-size: 1.5rem;
    }
    .modal__title{
        font-size: 1.5em;
    }
}

    